.slide {
    color: rgb(44, 44, 229);
    height: 80vh;
    display: flex;
    justify-content: center;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.slide1{
    background-image: url(../assets/slide1.jpg);
}

.slide2{
    background-image: url(../assets/slide2.jpg);
}

.slide3{
    background-image: url(../assets/slide3.jpg);
}

.slide4{
    background-image: url(../assets/slide4.jpg);
}